body{
	background-image: url(../img/fondo.jpg);
}
#myform label.error {
			  color: red;
			  font-size: 11px;
			  font-family: Helvetica, sans-serif;
			  text-transform: lowercase;
			  position: relative;
			}
.ache{
	color: #45ff00;
	font-family: 'Inconsolata', monospace;
	margin-left: 50px;
	margin-top: 35px;
}
#myform{
	color: #45ff00;
	margin-left: 45px;
	margin-top: 35px;
	font-size: 20px;
	font-family: 'Inconsolata', monospace;
}
.esta{
	color: #5ece39;
}
.bot{
 background-color: #e8231d;
 border: none;
 border-radius: 5px;
 width: 200px;
 font-size: 40px;
 margin-top: 20px;
 font-family: 'Inconsolata', monospace;
 color: white;
}

